:root {
    --claret: #4d022b;
    --green: #024d24;
    --blue: #022b4d;
    --light: #FBEDF5;
}

body {
 color: var(--blue);
}

header {
    text-align: center;
}

footer {
    text-align: center;
    font-size: 0.8rem;
}
main {
    display: grid;
    grid-template-columns: 20% 60% 20%;
}

#gameContainer {
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 0px;
    width: 400px;
    height: 400px;
    margin-right: auto;
    margin-left: auto;
}

.square {
    font-size: 3rem;
    padding: 1rem;
    margin: 1px;
    width: 100px;
    height: 100px;
    border: 0.1px solid var(--claret);
    text-align: center;
    line-height: 100px;
}